<div class="grid-presentation">
  <div class="grid-card" data-aos="fade-right" data-aos-duration="1000">
    <%= image_tag "social-biography.png"%>
    <div class="text-presentation">
      <h3 class="title-presentation">Créez votre compte</h3>
      <p class="paragraphe-subtitle">Un compte gratuit vous permettra de nous envoyer tous vos objets et d'avoir accès à tout moment à vos NFT depuis n'importe quel appareil</p>
      <%= image_tag "ellipse.png", class: "ellipse-img"%>
    </div>
  </div>

  <div class="grid-card" data-aos="fade-left" data-aos-duration="1000">
    <div class="text-presentation-middle">
      <h3 class="title-presentation">Trouvez les objets collectibles </h3>
      <p class="paragraphe-subtitle">Choisissez les collectibles qui vous intéresse le plus et pariez à la hausse ou à la baisse !</p>
    </div>
    <%= image_tag "profiling.png"%>
  </div>


    <div class="grid-card" data-aos="fade-right" data-aos-duration="1000">
    <%= image_tag "ellipse.png", class: "ellipse-img ellipse-left"%>
    <%= image_tag "performance.png"%>
    <div class="text-presentation">
      <h3 class="title-presentation">Suivez les échanges </h3>
      <p class="paragraphe-subtitle">Intéressez-vous aux nouveaux collectibles et restez au courant des dernières tendances en un seul clic !</p>
    </div>
  </div>

</div>
