
<div class="main-container">
  <div class="bid-buy-form">

      <div class="collectible-show-card">
        <h3> <%= @collectible.model %></h3>
        <p><%= @collectible.reference %></p>
        <h6>Highest Bid: <%= @collectible.bids.highest_price.bid_price %> € | Lowest Ask: <%= @collectible.asks.lowest_price.ask_price %> €</h6>
        <%= cl_image_tag @collectible.photo.key %>
      </div>


      <div class="bid-buy-container">
        <div class="div">
          <%= simple_form_for [@nft, @bid],:url => my_nft_bids_path, :method => :post do |f| %>
            <%= f.input :bid_price, placeholder: "My bid price", label: false %>
            <%= f.button :submit, 'Place Bid', class: "btn-create-bid" %>
          <% end %>
        </div>
        <div class="div">
          <%= simple_form_for [@nft, @bid],:url => my_nft_bids_path, :method => :post do |f| %>
            <%= f.input :bid_price, placeholder: "Lowest Ask", label: false %>
            <%= f.button :submit, 'Buy now', class: "btn-buy-now" %>
          <% end %>
        </div>
      </div>

  </div>

</div>
