<div class="navbar navbar-expand-sm navbar-lewagon">
  <%= link_to "/", class: "navbar-brand" do %>
    <%= image_tag "LogoCoStock.png" %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item propos">
        <%= link_to "Vendre son collectible", "/collectibles/new", class: "nav-link" %>
      </li>
      <li class="nav-item collections">
        <%= link_to "Collections", "/collectibles", class: "nav-link" %>
      </li>
      <li class="nav-item question">
        <%= link_to "C'est quoi ?", "#what", class: "nav-link" %>
      </li>
      <% if user_signed_in? %>
        <li class="nav-item-avatar dropdown">
          <% if current_user.photo.attached? %>
            <%= cl_image_tag current_user.photo.key, height: 40, width: 40, crop: :fill , class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% else %>
            <%= cl_image_tag "matthieu_lloqq1", height: 40, width: 40, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% end %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Mon Portefeuille", "/my/transactions", class: "dropdown-item" %>
            <%= link_to "Se déconnecter", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <div class="user-name mx-5 mt-3">
        <p class="user">Bienvenue, <br><%= current_user.username %></p>
      </div>
      <% else %>
        <li class="nav-login mr-2">
          <%= link_to "Se connecter", new_user_session_path, class: "btn-login" %>
        </li>
        <li class="nav-signup">
          <%= link_to "S'inscrire", new_user_registration_path, class: "btn-signup" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
