<div class="wrapper">

  <div class="container-hero">

    <div class="hero-container-text">
      <h1 class="hero-title">Collecter. Échanger. Stocker.</h1>
      <p class="hero-paragraph"> Investissez sur vos objets de collections préférés grace à la technologie NFT</p>
      <%= link_to "Découvrez le stock" , collectibles_path, class: "btn-stock", type: "button"%>
      <%# <button class="btn-stock" type="button" > Découvrez le stock </button> %>
    </div>

    <div class="hero-container-image">
      <%= image_tag "sneakers.png", class: "sneakers-img"%>
      <%= image_tag "ellipse.png", class: "ellipse-img"%>
    </div>
  </div>

  <span class="hero__scroll">

  <i class="chevron bottom"></i>
	</span>

  <div class="container-subtitle">
    <p class="paragraphe-subtitle mt-5">Choisissez parmi nos</p>
    <h2 class="subtitle">Collectibles disponibles</h2>
  </div>

  <%= render "shared/home/grid_card_collectibles" %>

  <div id="what" style="height: 60px">
  </div>

  <div class="container-subtitle" >
    <div class="brand-presentation mt-5" >
      <h2 class="subtitle">Qu’est ce que c’est CoStock?</h2>
      <p class="paragraphe-subtitle">C’est tellement simple</p>
    </div>
  </div>

  <%= render "shared/home/grid_presentation" %>

  <div class="container-subtitle">
    <h2 class="subtitle">Nous avons leur soutien</h2>
    <p class="paragraphe-subtitle">Découvrez les avis de nos traders</p>
  </div>

  <%= render "shared/home/grid_card_advices" %>

</div>
