<div class="wrapper">

  <div class="container-hero">

    <div class="hero-container-text">
      <h1 class="hero-title">Collecter. Échanger. Stocker.</h1>
      <p class="hero-paragraph"> Investissez sur vos objets de collections préférés grace à la technologie NFT</p>
      <%= link_to "Découvrez le stock" , collectibles_path, class: "btn-stock", type: "button"%>
      <%# <button class="btn-stock" type="button" > Découvrez le stock </button> %>
    </div>

    <div class="hero-container-image">
      <%= image_tag "sneakers.png", class: "sneakers-img"%>
      <%= image_tag "ellipse.png", class: "ellipse-img"%>
    </div>

  </div>

  <div class="container-subtitle">
    <p class="paragraphe-subtitle mt-5">Choisissez parmi nos</p>
    <h2 class="subtitle">Collectibles disponibles</h2>
  </div>

  <div class="grid-card mt-5 mb-5">
    <div class="card-collectible">
      <%= image_tag "sneakerscard.png", class:"card-img"%>
      <h3 class="card-title">Sneakers</h3>
    </div>

    <div class="card-collectible">
    <%= image_tag "cardcard.png", class:"card-img"%>
      <h3 class="card-title">Cartes</h3>
    </div>

    <div class="card-collectible">
    <%= image_tag "watchescard.png", class:"card-img"%>
      <h3 class="card-title">Montres</h3>
    </div>
  </div>

  <%
=begin%>
 <div class="three-ellipses">
    <div class="first-ellipse">a</div>
    <div class="second-ellipse little-ellipse">b</div>
    <div class="third-ellipse little-ellipse">c</div>
  </div>
<%
=end%>
  <div class="container-subtitle" id="what">
    <div class="brand-presentation" >
      <h2 class="subtitle">Qu’est ce que c’est CoStock?</h2>
      <p class="paragraphe-subtitle">C’est tellement simple</p>
    </div>
  </div>

  <div class="grid-presentation">
    <div class="grid-card">
      <%= image_tag "social-biography.png"%>
      <div class="text-presentation">
        <h3 class="title-presentation">Créez votre compte</h3>
        <p class="paragraphe-subtitle">Un compte gratuit vous permettra de stocker tous vos objets et d'y avoir accès à tout moment et depuis n'importe quel appareil</p>
        <%= image_tag "ellipse.png", class: "ellipse-img"%>
      </div>
    </div>

    <div class="grid-card">
      <div class="text-presentation-middle">
        <h3 class="title-presentation">Trouvez les objets collectibles </h3>
        <p class="paragraphe-subtitle">Choisissez parmi notre collection les objets nft les plus intéressants, croyez-moi, nous en avons beaucoup !</p>
      </div>
      <%= image_tag "profiling.png"%>
    </div>


     <div class="grid-card">
      <%= image_tag "ellipse.png", class: "ellipse-img ellipse-left"%>
      <%= image_tag "performance.png"%>
      <div class="text-presentation">
        <h3 class="title-presentation">Suivez le taux de change </h3>
        <p class="paragraphe-subtitle">Suivez les nouveaux objets et restez au courant des derniers changements dans les taux de crypto-monnaie en un seul clic !</p>
      </div>
    </div>

  </div>

  <div class="container-subtitle">
    <h2 class="subtitle">Nous avons leur soutien</h2>
    <p class="paragraphe-subtitle">Découvrez les avis de nos traders</p>
  </div>

  <div class="grid-card">
    <div class="card-advice">
    <%= image_tag "adviceavatar.png", class:"advice-avatar"%>
    <h4>KLEPIERRE PDG</h4>
    <h4>mr. Daan J. Smits</h4>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
    </div>
    <div class="card-advice"></div>
    <div class="card-advice"></div>
  </div>

</div>
