<div class="container">

  <div class="container-hero-index">
    <div class="banner-container-collectibles">
      <h1 class="banner-title">
        <% if @category_filter.present? %>
          <%= @category_filter %>
        <% else %>
        Collectibles
        <% end %>
      </h1>
      <h2 class="banner-title-h2">Trouvez l'objet rare et intéressant dont vous avez besoin</h2>
      <div class="search-container">
        <%= form_tag collectibles_path, method: :get do %>
          <div class="d-flex justify-content-center my-5">
            <%= text_field_tag :query,
              params[:query],
              class: "form-control input-text rounded-search-form",
              placeholder: "Trouve un objet "
            %>
            <i class="fas fa-search"></i>
          </div>
        <% end %>
      </div>

      <%= simple_form_for :collectible_filters, method: :get do |f| %>
        <div class="simpleform-container">
          <%= f.input :category, collection: @category_array, label: false, input_html: {class: "select2-filter"}, required: false %>
          <%= f.submit 'Filtrer', class: "btn-filter" %>
        </div>
      <% end %>
    </div>

    <div class="banner-collectibles-image">
      <% if @category_filter == "Montres" %>
        <%= image_tag "watchfilter.png", class: "image-snkrs-banner" %>
      <% elsif @category_filter == "Cartes" %>
        <%= image_tag "cardfilter.png", class: "image-snkrs-banner card-filter-img" %>
      <% else %>
        <%= image_tag "image-sneakers-banner.png", class: "image-snkrs-banner" %>
      <% end %>
        <%= image_tag "ellipse.png", class: "ellipse-img"%>
    </div>

  </div>


  <div class="collectibles-grid">
    <% @collectibles.each do |collectible| %>
      <div class="card-collectibles-index position-relative">
        <div class="card-top" >
            <%= cl_image_tag collectible.photos.first.key if collectible.photos.first.present? %>
        </div>
        <p class="text-center" ><%= link_to collectible.model, collectible_path(collectible), class: "stretched-link text-decoration-none" %></p>
        <div class="d-flex justify-content-between w-100 px-3">
          <p class="text-grey">Prix de revente : </p>
          <p class="text-grey"><%= collectible.resell_value %> €</p>
        </div>
        <div class="d-flex justify-content-between w-100 px-3">
          <p class="font-weight-bold">Prix Nft :</p>
          <% if collectible.bids.highest != nil %>
            <p><%= collectible.bids.highest.bid_price %> €</p>
          <% else %>
            <p> -- €</p>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
