<div class="container-new-collectibles">
  <div class="banner-new-collectible">
    <h1 class="hero-title my-5">Vendez votre collectible.</h1>
    <%= link_to "Vendez", "#buy-your-collectible", class: "btn-sell-my-collectible" %>
  </div>
</div>

<div class="grid-presentation">
  <div class="grid-card">
    <%= image_tag "delivery_address.svg", class: "collectible-new-image" %>
    <div class="text-presentation">
      <h3 class="title-presentation">Envoyer votre produit</h3>
      <p class="paragraphe-subtitle">Après avoir rempli le formulaire ci-dessous et après validation, vous recevrez un bon d'envoi pour nous faire parvenir votre objet de collection. Celui-ci doit être dans un état neuf.</p>
      <%= image_tag "ellipse.png", class: "ellipse-img"%>
    </div>
  </div>

  <div class="grid-card">
    <div class="text-presentation-middle">
      <h3 class="title-presentation">A la réception de votre produit nous procéderons à son authentification</h3>
      <p class="paragraphe-subtitle">Notre équipe d'experts authentifiera votre objet de collection, le prendra en photo et validera ainsi la création de vos NFT.</p>
    </div>
    <%= image_tag "product_photography.svg", class: "collectible-new-image" %>
  </div>


    <div class="grid-card mt-5">
    <%= image_tag "ellipse.png", class: "ellipse-img ellipse-left"%>
    <%= image_tag "online_payments.svg", class: "collectible-new-image" %>
    <div class="text-presentation">
      <h3 class="title-presentation">Nous attribuerons un nombre de NFT a votre objet </h3>
      <p class="paragraphe-subtitle">En fonction du nombre de NFT demandé, nous vous confierons la propriété de ces derniers, ils seront alors disponibles au trading sur la plateforme! </p>
    </div>
  </div>
</div>

  <div id="buy-your-collectible" style="height: 60px">
  </div>

<div class="container">
  <div class="form-new-collectible d-flex flex-column text-center pb-5">
    <h1 class='title-presentation pt-3 text-center'>Vendez Votre Collectible</h1>
    <%= simple_form_for @collectible do |f| %>
      <%= f.input :category, collection: Collectible.pluck(:category).uniq, label: 'Selectionner une catégorie', input_html: { class: 'select2' } %>
      <div id="brand-general">
        <%= f.input :brand, collection: Collectible.pluck(:brand).uniq+["Autre"], label: 'Selectionner une marque', input_html: { class: 'select2' }%>
      </div>
      <div id="brand-personnalise" class="d-none">
        <%= f.input :brand %>
      </div>
      <%= f.input :model, label: "Modèle" %>
      <%= f.input :nft_number, label: "Nombre de NFTs souhaité en échange de votre paire" %>
      <%= f.button :submit, "J'envoie ma paire" , class: "btn-login" %>
    <% end %>
  </div>
</div>
