<div class="container">
  <div class="row">

    <%= render "shared/show_collectibles/nav_links_title_photo" %>

   <div class="col-5 position-relative">
    <div id="accordion">
      <% if @lowest_ask.present? && @lowest_ask.user != current_user %>
          <div class="card-nft-show ">

            <div class="card-header" id="headingOne">
              <h6>
                <p>Demande la plus basse: <span class="price-size"><%= @lowest_ask.ask_price %> €</span></p>
                <button class="btn-buy-bid" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Acheter ou faire une offre
                </button>
              </h6>
            </div>

            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body">
              <div>
                <div class="price-size">
                  <%= @lowest_ask.ask_price %> €
                </div>
                <%= render 'shared/show_collectibles/form', ask: @lowest_ask %>
              </div>
                <%= simple_form_for [@collectible, @bid], :method => :post do |f| %>
                  <div class="card-place-bid d-flex">
                  <%= f.input :bid_price, placeholder: "Mon offre d'achat", label: false %>
                  <%= f.button :submit, "Offrir", class: "btn-create-bid" %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>

      <% else %>

        <div class="card-nft-show">

          <div class="card-header" id="headingOne">
            <h6 class="mb-0">
              <% if @lowest_ask.present? %>
                <p>Demande la plus basse : <span class="price-size"><%= @lowest_ask.ask_price %> €</span></p>
                <button class="btn buy-bid" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  <p>Faire une offre</p>
                </button>
              <% else %>
                <p>Demande la plus basse : -- €</p>
                <button class="btn buy-bid" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  <p>Faire une offre</p>
                </button>
              <% end %>
            </h6>
          </div>

          <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
              <%= simple_form_for [@collectible, @bid], :method => :post do |f| %>
                  <%= f.button :submit, "Offrir", class: "btn-create-bid" %>
                  <%= f.input :bid_price, placeholder: "Mon offre", label: false %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>


      <% if @highest_bid.present? && @highest_bid.user != current_user %>
          <div class="card-nft-show">

            <div class="card-header" id="headingTwo">
              <h6>
                  <p>Offre la plus haute : <span class="price-size"><%= @highest_bid.bid_price %> €</span></p>
              </h6>
            <% if @collectible.nfts.where(user_id: current_user).first != nil %>
                  <button class="btn-sell-ask" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Vendre ou demander un prix
                  </button>
                <% end %>
            </div>
            </div>


            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
              <div class="card-body">
                  <%= simple_form_for @highest_bid do |f| %>
                    <%#= f.input :bid_price, label: false %>
                    <div class="container-place-sell mb-3 d-flex">
                      <div class="price-size">
                        <%= @highest_bid.bid_price %> €
                      </div>
                      <%= f.button :submit, 'Vendre', class: "btn-create-sell" %>
                    </div>
                  <% end %>
                  <%= simple_form_for [@collectible, @ask], :method => :post do |f| %>
                  <%= f.input :ask_price, placeholder: "Ma demande de prix", label: false %>
                  <%= f.button :submit, "Demander", class: "btn-create-ask" %>
                  <% end %>
              </div>
            </div>
          </div>

      <% else %>

        <div class="card-nft-show">
            <div class="card-header" id="headingTwo">
              <h6 class="mb-0">

                <% if @highest_bid.present? %>
                  <p>Offre la plus haute : <span class="price-size"><%= @highest_bid.bid_price %> €</span></p>
                  <% if @collectible.nfts.where(user_id: current_user).first != nil %>
                    <button class="btn-sell-ask" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    <p>Demander un prix</p>
                    </button>
                  <% end %>

                <% else %>
                  <p>Offre la plus haute : -- €</p>
                  <button class="btn-sell-ask" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    <p>Demander un prix</p>
                  </button>
                <% end %>
              </h6>
            </div>

            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">

              <div class="card-body">
                <%= simple_form_for [@collectible, @ask], :method => :post do |f| %>
                  <%= f.input :ask_price, placeholder: "Mon offre de vente", label: false %>
                  <%= f.button :submit, "Faire une offre", class: "btn-create-ask" %>
                <% end %>
              </div>

            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <%= render "shared/show_collectibles/description_product" %>
  <%= render "shared/show_collectibles/chart" %>
</div>
