<h1> <%= @collectible.model %> </h1>
<p><%= @collectible.brand %> </p>
<p><%= @collectible.description %> </p>
<p><%= @collectible.retail_price %> </p>
<p><%= @collectible.resell_value %> </p>
<p><%= @collectible.nft_number %> NFT available </p>

<%= link_to 'Buy',  new_my_nft_bid_path(@nfts.first) %>
<%= link_to 'Ask', "#" %>
<%= link_to 'Bid',  new_my_nft_bid_path(@nfts.first) %>
<%= link_to 'Sell',  "#" %>
