<div class="container">
<%= area_chart(vendredi: 12, samedi: 6, dimanche:5, lundi: 7, mardi: 2, mercredi: 6, jeudi: 10) %>

  <div class="collectible-show-container">
    <div class="collectible-show-card">
      <h1> <%= @collectible.model %> </h1>
      <p><%= @collectible.brand %> </p>
      <p><%= @collectible.description %> </p>
      <p><%= @collectible.retail_price %> </p>
      <p><%= @collectible.resell_value %> </p>
      <p><%= @collectible.nft_number %> NFT available </p>
      <%= cl_image_tag @collectible.photo.key %>
      <%= link_to 'Retour',  collectibles_path , class: "btn" %>

    </div>



    <div id="accordion">
      <% if @lowest_ask.present? && @lowest_ask.user != current_user %>
           <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              <p>Lowest Ask : <%= @lowest_ask.ask_price %> €</p>
            </button>
          </h5>
        </div>
        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
            <%= render 'asks/form', ask: @lowest_ask %>
            <%= simple_form_for [@collectible, @bid], :method => :post do |f| %>
              <%= f.input :bid_price, placeholder: "My Bid price", label: false %>
              <%= f.button :submit, 'Place Bid', class: "btn-create-ask" %>
            <% end %>
          </div>
        </div>
      </div>
      <% else %>
        <p>Mon futur bouton BID</p>
      <% end %>
      <% if @highest_bid.present? %>
      <div class="card">
        <div class="card-header" id="headingTwo">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              <p>Highest Bid : <%= @highest_bid.bid_price %> €</p>
            </button>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
          <div class="card-body">
            <%= simple_form_for @highest_bid do |f| %>
              <%#= f.input :bid_price, label: false %>
              <%= f.button :submit, 'Sell', class: "btn-create-ask" %>
            <% end %>
            <%= simple_form_for [@collectible, @ask], :method => :post do |f| %>
              <%= f.input :ask_price, placeholder: "My Ask price", label: false %>
              <%= f.button :submit, 'Place Ask', class: "btn-create-ask" %>
            <% end %>
          </div>
        </div>
      </div>
      <% end %>

    </div>
  </div>
</div>
