<div class="container">
  <div class="row">

    <div class="col-7">
      <div class="collectible-show-container">
        <div class="collectible-show-card justify-content-center" >
          <h1> <%= @collectible.model %> </h1>
          <div class="card card-sneakers">
            <% @collectible.photos.each_with_index do |photo, index| %>
              <span style="--i:<%= index %>;"></span>
              <%= cl_image_tag photo.key %>
            <% end %>
          </div>
          <div class="description-product"></div>
          <div id="description-product-title">
            <h3>Description Produit</h3>
            </div>
              <p>Marque : <%= @collectible.brand %> </p>
              <p> Description : <%= @collectible.description %> </p>
              <p>Prix de vente initial du produit : <%= @collectible.retail_price %> €</p>
              <p>Valeur de resell : <%= @collectible.resell_value %> €</p>
              <p><%= @collectible.nft_number %> NFT créés </p>
              <%# <%= link_to 'Retour',  collectibles_path , class: "btn" %>
            </div>
          </div>
         </div>
   <div class="col-5 position-relative">
    <div id="accordion">
      <% if @lowest_ask.present? && @lowest_ask.user != current_user %>
          <div class="card-nft-show ">
            <div class="card-header" id="headingOne">
              <h6>
                <p>Lowest Ask : <%= @lowest_ask.ask_price %> €</p>
                <button class="btn-buy-bid" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  <p>Acheter ou faire une offre</p>
                </button>
              </h6>
            </div>
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body">
                <%= render 'asks/form', ask: @lowest_ask %>
                <%= simple_form_for [@collectible, @bid], :method => :post do |f| %>
                  <div class="card-place-bid d-flex">
                  <%= f.input :bid_price, placeholder: "My Bid price", label: false %>
                  <%= f.button :submit, 'Place Bid', class: "btn-create-bid" %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
      <% else %>
        <div class="card-nft-show">
          <div class="card-header" id="headingOne">
            <h6 class="mb-0">
              <% if @lowest_ask.present? %>
                <p>Lowest Ask : <%= @lowest_ask.ask_price %> €</p>
                <button class="btn buy-bid" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  <p>Faire une offre</p>
                </button>
              <% else %>
                <p>Lowest Ask : -- €</p>
                <button class="btn buy-bid" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  <p>Faire une offre</p>
                </button>
              <% end %>
            </h6>
          </div>
          <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
              <%= simple_form_for [@collectible, @bid], :method => :post do |f| %>
                  <%= f.button :submit, 'Place Bid', class: "btn-create-bid" %>
                  <%= f.input :bid_price, placeholder: "Mon offre", label: false %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>

      <% if @highest_bid.present? && @highest_bid.user != current_user %>
          <div class="card-nft-show">
            <div class="card-header" id="headingTwo">
              <h6 class="mb-0">
                  <p>Highest Bid : <%= @highest_bid.bid_price %> €</p>
              </h6>
                <% if @collectible.nfts.where(user_id: current_user).first != nil %>
                  <button class="btn-ask-cell" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <p>Vendre ou demander un prix</p>
                  </button>
                <% end %>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
              <div class="card-body">
                  <%= simple_form_for @highest_bid do |f| %>
                    <%#= f.input :bid_price, label: false %>
                    <div class="container-place-sell mb-3 d-flex">
                      <%= f.button :submit, 'Sell', class: "btn-create-sell" %>
                    </div>
                  <% end %>
                  <%= simple_form_for [@collectible, @ask], :method => :post do |f| %>
                  <%= f.input :ask_price, placeholder: "My Ask price", label: false %>
                  <%= f.button :submit, 'Place Ask', class: "btn-create-ask" %>
                  <% end %>
              </div>
            </div>
          </div>
      <% else %>
        <div class="card-nft-show">
            <div class="card-header" id="headingOne">
              <h6 class="mb-0">
                <% if @highest_bid.present? %>
                  <p>Highest Bid : <%= @highest_bid.bid_price %> €</p>
                  <% if @collectible.nfts.where(user_id: current_user).first != nil %>
                    <button class="btn-ask-cell" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <p>Demander un prix</p>
                    </button>
                  <% end %>
                <% else %>
                  <p>Highest Bid : -- €</p>
                  <button class="btn-ask-cell" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  <p>Demander un prix</p>
                  </button>
                <% end %>
              </h6>
            </div>
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body">
                <%= simple_form_for [@collectible, @ask], :method => :post do |f| %>
                <%= f.input :ask_price, placeholder: "My Ask price", label: false %>
                <%= f.button :submit, 'Place Ask', class: "btn-create-ask" %>
                </div>
                <% end %>
              </div>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>
  <%= area_chart(vendredi: 12, samedi: 6, dimanche:5, lundi: 7, mardi: 2, mercredi: 6, jeudi: 10) %>
  <p> 🔥 Historique des prix 🔥</p>

</div>
