<!DOCTYPE html>
<html>
  <head>
    <title>Costock</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="icon" href="<%= image_tag "LogoCoStock.png" %>">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <meta property="og:title" content="Costock">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://www.costock.xyz/">
    <meta property="og:image" content="<%= image_tag "homepage.png" %>">
    <meta property="og:description" content="Costock, the new trading website for collectibles. Collecter. Échanger. Stocker.">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <div class="main-container">
      <%= yield %>
      <%= render 'shared/flashes' %>
    </div>
      <%= render 'shared/footer' %>
  </body>
</html>
